<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/hibernate_study?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <!--<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">3</property> -->
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        
        <mapping resource="com/zhenqi/entity/single/many2many/Student.hbm.xml"/>
        <mapping resource="com/zhenqi/entity/single/many2many/Teacher.hbm.xml"/> 
        <mapping resource="com/zhenqi/entity/single/one2one/IDCard.hbm.xml"/>
        <mapping resource="com/zhenqi/entity/single/one2one/Man.hbm.xml"/>
       
        <mapping resource="com/zhenqi/entity/single/one2many/Employee.hbm.xml"/> 
        <mapping resource="com/zhenqi/entity/single/one2many/Dept.hbm.xml"/> 
        
        <mapping resource="com/zhenqi/entity/single/many2one/Many.hbm.xml"/> 
        <mapping resource="com/zhenqi/entity/single/many2one/One.hbm.xml"/>
        
        <mapping resource="com/zhenqi/entity/two/one2one/Loginer.hbm.xml"/>
        <mapping resource="com/zhenqi/entity/two/one2one/User.hbm.xml"/>
        
    </session-factory>
</hibernate-configuration>